 :root{ 
    --blackground: rgb(41, 36, 36);
    --whiteground: rgb(248, 248, 248);
    --client-font-co:rgb(17, 17, 17);
    --academy-font-co:rgb(243, 241, 243);
    --font-headings: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    --border: rgb(235, 55, 196)
}

@font-face {
    font-family: lejourserif;
    src: local("media/LeJourSerif-OVZMo")
    format("otf");
}

*{
    box-sizing:border-box;
    list-style: none;
}


body{
    font-family: var(--font-headings);
    font-size: 100%;
    height: 100vh;
    width: 100vw;
} 

.academy__course-info{
    border: inset 3px var(--border);
    background-color: rgb(76, 77, 78);
    border-style: ridge;
    line-height: 1.4;
    margin:80px 20px;
    padding:20px;
}
.academy__course-info-p-1{
    margin:5% 10% 2.5% 10%;
}
.academy__course-info-p-2{
    padding-left: 5%;
    width:50%;
}
.academy__main-heading{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}
.academy__jess-wrapper{
    display: flex;
    justify-content: center;
}
.academy__meet-jess{
    border: inset 3px var(--border);
    background-color: rgb(56, 57, 58);
    border-style: ridge;
   padding: 5px;
   width:70%;
   display:flex;
   flex-wrap: wrap;
   justify-content:space-around;
}

.academy__meet-p{
    line-height: 1.5;
    margin: 0 4%;
}

.academy__course-info-curriculum{
    display:flex ;
    flex-flow: row wrap;
}

.academy__course-info-h3{
    width:100%
}
.academy__course-info-p{
    width:100%;
    text-align:center;
}
.academy__course-info-description{
    flex:1;
}

.academy__course-info-1{
    margin: 5% 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
}
.academy__course-info-1 a{
    color: var(--academy-font-co);
    cursor:pointer;
}

.academy__course-info-subheading{
    margin: 5% ;
}

.academy__course-upcoming{
    border: inset 3px var(--border);
    background-color: rgb(56, 57, 58);
    border-style: ridge;
    justify-content: center;
    margin: 3rem;
   padding: 5px;
}

.academy__li{
    border: inset 3px var(--border);
    background-color: rgb(56, 57, 58);
    border-style:ridge;
    border-bottom-right-radius: 3% ;
    margin: 4rem 3rem;
   padding: 5px;
   width:70%;
   display:flex;
   flex-wrap: wrap;
   justify-content:space-around;
}

.academy__li ul{
    padding-left: 1%;
}

.academy__li--li{
    width: 100%;
    text-align: center;
}
.academy__h2{
    width: 100%;
}

.academy__main-h1{
    color: var(--border);
    font-size: 2.5rem;
}

.client__svcs{
    margin: 10% 0;
}

.client__svcs-title{
   width: 100%;
   margin-bottom: -15%;
   height:fit-content;
   z-index: 1000;
   color:rgb(255, 255, 255);
   text-shadow: 1px 1px 2px black;
}

.client__svcs-description{
    display: flex;
    flex:2;
    padding:2% 10%;
    line-height: 1.4;
}
.client__price{
    display: flex;
    flex:1;
    justify-content:space-evenly ;
    margin-bottom:5%;
    line-height: 1.3;
}
.client__price-heading-b{
    font-weight: bold;
    margin-top:0;
}
.client__svcs-img-wrapper{
    display: flex;
    justify-content: center;
    width:100%;
    flex-wrap: wrap;
    
}
.client__svcs-img{
    max-height: 200px;
}

.client__subtitle{
    font-size: 3rem;
    text-shadow: 1px 1px 3px var(--border);
}

.client__title{
    margin:3% 4%;
}

.footer{
    align-items:flex-end;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 70%;
}

.footer__black{
    background-color: var(--blackground);
    color: var(--academy-font-co);
}

.footer__p{
    margin:.5rem;
}

.footer__pink{
    background-color: var(--whiteground);
    color: var(--client-font-co);
}

.footer__ul{
    padding-left: 0;
}

.footer__ul a{
    text-decoration: none;
    color: var(--client-font-co);
    cursor: pointer;
}

h1, h2, h3{
    text-align: center;
    font-family: lejourserif;
}
.header__a a{
    color: var(--academy-font-co);
}

.header__c a{
    color: var(--client-font-co);
}

.ig-widget, .fb-widget{
    max-height:30px;
}

.landing__title-r a{
    color:var(--academy-font-co);
    text-decoration: none;
    font-size: 2rem;
}

.landing__title-l a{
    color:var(--client-font-co);
    text-decoration: none;
    font-size: 2rem;
}
.landing__wrapper{
    display: flex;
    flex-flow: column;
    height:100vh;
}
.landing__1{
    align-items: center;
    align-content: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.landing__client-l{
    align-content: center;
    background-color: var(--whiteground);
    height: 50vh;
    display: flex;
}


.landing__logo{
    height: 100px;
    margin:2.3rem;
}

.landing__student-r{
    background-color: var(--blackground);
    height: 50vh;
}

.landing__title{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
}


.main{
    min-height: 90vh;
}

.nav{
    display: flex;
    list-style: none;
    align-items:center ;
    flex-direction: column;
}


.nav__li{
    list-style: none;
    align-items:center;
    display: flex;
    padding:5px;
}

.nav__li a{
    text-decoration: none;
}

.nav__logo{
    display:none;
}

span{
    font-weight: bold;
}

.academy__main, .clients__main{
    font-size: 70%;
    
}

.wrapper__academy{
    background: var(--blackground);
    color:var(--academy-font-co);
}


.wrapper-contact, .wrapper-gallery, .wrapper__client{
    background-color: var(--whiteground);
    min-height: 90vh;
}


/* keyframe home */



@keyframes  slide-left{
    0% {
        transform: translatex(0%);
        opacity: 1;
    }
    100%{
        transform: translatex(-100%);
        opacity: 0;
    }

}

@keyframes  slide-right{
    0% {
        transform: translatex(0%);
        opacity: 1;
    }
    100%{
        transform: translatex(100%);
        opacity: 0;
    }
}

.grow{
    animation: slide-right 2000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.r-grow{
    animation: slide-left 2000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

ul{
    padding-left: 10%;
}


@media all and (min-width: 600px){
    
    .academy__main{
        font-size: 80%;
        
    }
    
    .footer{
        font-size: 80%;
    }

    .landing__wrapper{
        display: flex;
        flex-flow: row;
        height:100vh;
    }
    .landing__1{
        align-items: center;
        align-content: center;
        display:flex;
        justify-content: center;
        flex-direction: column;
        height:100vh; 
    }
    .landing__client-l{
       
        width: 50%;  
        display: flex;
        align-content: center;
    }
    
    
    .landing__logo{
        height: 100px;
        margin:2.3rem;
    
    }
    .landing__student-r{
        height: auto;
        width: 50%;
      
    }
    
    .landing__title{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        
    }
}




@media screen and (min-width: 768px) {
    
    .academy__main, .clients__main{
        font-size: 90%;
    }
    .academy__course-info{ 
        background-image:   url(../media/images/med-acad.jpg) ;
        background-blend-mode:multiply;
        height: max-content;
        background-repeat: no-repeat;
        background-size: cover;
       } 
        
       .client__svcs-description{
           margin-left:10%;
           margin-right: 10%;
       }
        
       .footer{
           font-size: 100%;
       }

        .header{
            display: flex;
            margin: 0 1rem;
        }
        .nav__logo{
            display:flex;
            height: 5rem;
            margin: .4rem 1rem;
            flex:2;
        }
        
        .client__svcs-img{
            max-height: 250px;
        }
        .nav{
            flex:1;
            list-style: none;
            flex-direction: row;
        }
        
        .nav__li{
            justify-items: flex-start;
        }
        
    }
    
    @media screen and (min-width: 1024px) {
        .academy_main, .clients__main{
            font-size: 100%;
            padding: 5%;
        }
       
        .academy__course-info{
            background-image: url(../media/images/lgbg-acad.jpg) ;
            width: 70%;
            margin:0 auto;
        } 
        .academy__li{
            margin:10%;
        }

        .academy__meet-jess{
            margin:10%;
        }

        .client__svcs{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border-bottom: var(--border) 2px;
            border-bottom-style:dotted;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .client__svcs-img{
            max-height: 300px;
            margin:0;
        }

        .client__svcs-p{
            margin: 1rem 1.5rem;;
        }

        .client__svcs-img-wrapper{
            display: flex;
            justify-content: flex-start;
            width:25%;
            flex-wrap: wrap;
            margin: 1%
        }
        .client__svcs-description{
            display: flex;
            flex:2;
            padding:4% 2%;
            margin: 2% 4%;
        }
        .client__svcs-title{
            text-align: left;
            margin: 3%;
            color:var(--client-font-co);
            text-shadow: none;
        }

        .client__price{
            margin: 2.5% 0;
            padding:3% 0 6% 0;
        }
        .client__subtitle{
            margin: 4%;
        }

        .ig-widget, .fb-widget{
            max-height:30px;
        }

    }
